html{
   height: 100%;
   width: 99%;
}
.banner {
  width: 100%;
  height: 18em;
}
#navbar ul { 
	margin: 0; 
	padding: 10px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #4CAF50; 
	border-radius: 50px;
  font-family: monospace;
  font-size: 25px;
} 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #4CAF50; 
	} 
 
#navbar ul li a:hover { 
	color: #ffffff; 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
 background-color: #34cb4d;
text-decoration: none;
} 
p{
    color: #f6f6e9;
}
body{
    width: clamp ( 200px, 50%, 300px);
      background-color:   #228B22;
    }
    table {
        border-collapse: collapse; /* Fusiona las celdas de la tabla en una sola línea */
        width: 100%; /* Establece el ancho de la tabla al 100% del ancho del contenedor padre */
      }
      
      /* Define el estilo de las celdas de encabezado de tabla y de datos de tabla */
      th, td {
        text-align: center  ; /* Alinea el contenido de las celdas a la izquierda */
        padding: 1em; /* Agrega un espacio de 8 píxeles alrededor del contenido de las celdas */
      }
      /* Define el estilo de las celdas de encabezado de tabla */
      th {
        background-color: #dddddd; /* Establece el color de fondo de las celdas de encabezado */
      }
      
      /* Define el estilo de las celdas de datos de tabla */
      td {
        border-bottom: 1px solid #ddd; /* Agrega un borde inferior de 1 píxel con un color gris claro */
      }
    .titulo{
        display: flex;
     justify-content: center;
     color: #ddd;
     background-color:#042516;
     font-family: Copperplate Gothic;
    }
      .subtitulo{
        display: flex;
     justify-content: center;
     color: #ddd;
      }
      .parrafo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ddd;
    font-family: Copperplate;
    }
.rotating-title {
        display: inline-block;
        animation: rotating 5s linear infinite;
        font-family: Copperplate Gothic;
      }
      @keyframes rotating {
        0% {
          transform: translateX(-300%);
        }
        99%{
          transform: translateX(100%);
        }
        100%{
          transform: translateX(450%);
        }
      }   